:root{
    --font-size: 14px ;
}
body{
    height: 10000px;
    margin:0;
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: var(--font-size);
    
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14vh;
    background-color: #FFF9F3;
    z-index: -1;
}

#center-body{
    width:70vw;
    height: auto;
    /* border: 1px solid blue; */
}
.flexgap{
    margin: 1rem 0rem;
}
.flexgap>*{
    margin:0;    ;
}
.marginbottom{
    margin-bottom: 2rem;
}

/*---------NAVIGATION BAR STARTS HERE---------------*/


/*---------PRIMARY NAVIGATION BAR STARTS HERE-------------*/


.nav-bar{
    width: 100%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.topbar{
    /* border: 1px black solid; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */

}
#mainlogo{
    margin-right: 0px;
    }
    .logosize{
        width: 10.5rem;
        
    }
.searchbar{
    /* border: 1px solid black; */
    display: flex;
    flex-grow: 3;
    align-items: center;
    width: 50%;
    height: 50%;
    border-radius: 30px;
    background-color: white;
}
.searchbar>*{
    margin:1%;
}
.searchbar>a{
    display: flex;
    /* flex-grow: 1; */
    justify-content: center;
    align-items: center;
    height: 30%;
    padding: 1% 3%;
    background-color: #F5F6F8;
    border-radius: 30px;
}

.searchbar svg{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    /* border:none; */
}

.searchbar input{
    border: none;
}
#inputbox{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#inputbox svg{
    background-color: none  ;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.nav-options{
    flex-grow: 2;
    height: 50%;
    margin: auto 5px auto 20px;
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-left:4%; */
}
/* .nav-options>*{
    margin-left: 50px; 
} */
#nav-btn1{
    height: 50%;
    /* text-align: center; */
    width: auto;
    height: auto;
    padding: 3% 7%;
    background-color: #EB6D20;
    /* border: 1px solid black; */
    border-radius: 30px;
}
#nav-btn2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-btn3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-btn2::before{
    content: '';
    display: inline-block;
    height:18px;
    width: 18px;
    background-image: url(resources/user.png);
    background-size:contain;
    margin-right: 5px;
    
}


#nav-btn3::before{
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
    background-image: url(resources/shopping-bag.png);
    background-size: contain;
    margin-right: 5px;
}

/*-----------PRIMARY NAVIGATION BAR ENDS HERE----------*/


/*----------SECONDARY NAVIGATION BAR STARTS HERE-------*/

.lowerbar{

    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    /* padding-top: 1%; */
    /* height: 50%; */
    /* border: 1px solid black; */
}


.lowerbar a{
    /* padding-top: 5px; */
    position: relative;
    padding-bottom: 6px;
    /* display: inline-block; */
}

.lowerbar a::after{
    content: '';
    position: absolute;
    left:0;
    bottom:0;
    width: 0;
    height: 4px;
    background-color: #EB6D20;
    transition: width 0.3s;
    transform-origin: left;
    border-radius: 2px;
    /* transform: translateX(-50%); */
}
.lowerbar a:hover::after{
    width: 30%;
}
  
/*-----SECONDARY NAVIGATION BAR ENDS HERE-------*/

/*---------NAVIGATION BAR ENDS HERE-------------*/

/*-----------FRONT GRID STARTS HERE-------------*/

.grid-container1{
    width: 100%;
    margin-top: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto auto;
}
.nested-grid1{
    display: grid;
   
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
}
.nested-grid2{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
}
.box{
    /* background-color: #EB6D20; */
    border:1px solid #fa7e1e;
    height: auto;
    border-radius: 5px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nested3 .box{
    display: flex;
    align-items: center;
    background-color: #F5F6F8;
}
.nested3 .box>div{
    height: 100%;
    width: 100%;
   
    margin:20px 10px 20px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nested3 .img{
    background-position: center;
    
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    width: 100px;
}
.nested3 .img1{
    background-image: url(resources/Slides/unsplash_bU8TeXhsPcY.png);

}
.nested3 .img2{
    background-image: url(resources/Slides/unsplash_esRJtEsvJhU.png);

}
.nested3 .img3{
    background-image: url(resources/Slides/unsplash_m_7p45JfXQo.png);

}

.nested3 .text{
    margin-left: 1em;
    /* border: 1px solid black; */
    width: 60%;
}

/* .nested1>:nth-child(1){
    background-image: url(resources/Slides/Group\ 8.png);
    background-size: contain;
    background-repeat: no-repeat;
} */
  
/*-----------FRONT GRID ENDS HERE---------------*/

/*-------------1st CAROSOL SLIDER STARTS HERE------------------*/

.carosol-slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carosol-slider>*{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #EB6D20;
    width: 10%;
    height: 130px;

}


/*-------------1st CAROSOL SLIDER ENDS HERE-------------------*/

/*-------------2nd CAROSOL SLIDER STARTS HERE-------------------*/
.carosol-slider-label div{
    height:70px;
    border: none;
    border-bottom: 1px solid #E9E9E9;  
    transition: height .3s;  
}

.carosol-slider-label div:hover{
    color: #EB6D20;
    height: 50px;
    /* padding-bottom: -2px; */
    border-bottom: 1px solid #EB6D20;
}
/*-------------2nd CAROSOL SLIDER ENDS HERE-------------------*/

#blue-box{
    width: 100%;
    height: 30vh;
    background-color: #5959D9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#blue-box>div{
    /* background-color: yellow; */
    height: 70%;
    width: 85%;
}

.inner-blue-box-text{
    /* background-color: green; */
    width: 40%; 
}
.inner-blue-box-email{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1rem;
}

.searchbar2{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 3;
    align-items: center;
    width: 50%;
    /* height: 70%; */
    border-radius: 30px;
    background-color: white;
}
.searchbar2>*{
    margin:1%;
}
.searchbar2>a{
    display: flex;
    /* flex-grow: 1; */
    justify-content: center;
    align-items: center;
    height: 30%;
    padding: 1% 3%;
    background-color: #EB6D20;
    border-radius: 30px;
}


.searchbar2 input{
    border: none;
}
#inputbox{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/*-------------FOOTER GRID STARTS HERE------------------*/

.fcontainer{
    position: relative;
     height: auto;
    max-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 6fr 1fr;
}
.logocontainer>div{
    width: 60%;
}
.social{
  
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    padding-left: 0px;
    gap: 3px;
    
}
.social li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social i{
   
    border-radius: 50%;
    font-size: 1rem;
    padding: 5px;
}

.fa-twitter{
    background-color: #1DA1F2;
}
.fa-instagram{
    background: linear-gradient(45deg,#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5);
}
.fa-facebook{
    background-color: #1877F2;
}
.fa-linkedin-in{
    background-color:#2867B2;
}
.sec ul{
    padding-left: 0;
   
    list-style: none;
    display: inline-block;
    text-align: left;
}
.fcontainer li{
    padding-bottom: 1rem;
    text-align: left;
}
.logocontainer{
    width: 100%;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textcontainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.f-text{
    display: flex;    
 
}
.f-text ul{
    padding-left: 0;
   
    display: flex;
    list-style: none;
    margin-top: 1.5rem;
}
.f-text li{
    margin-right: 2.5rem;
    padding: 0px;
}
#scroll-to-top{
    position: absolute;
    bottom: 0;
    right: 0;
}
/*-------------FOOTER GRID ENDS HERE-------------------*/
