<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="nav.css" type="text/css">
        <script src="https://kit.fontawesome.com/2af5e4f198.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main">
       
            <div class="searchbar">
                <a>All Categories</a>
                <div id="searchinput"><input type="text" placeholder="Search Anything"></div>
            </div>  

            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </body>
</html>