<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="social.css">
        <script src="https://kit.fontawesome.com/2af5e4f198.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <ul>
            <li><i class="fa-brands fa-twitter" style="color: #03b1fc;"></i></li>
            <li><i class="fa-brands fa-instagram" style="color: #0056eb;"></i></li>
            <li><i class="fa-brands fa-facebook" style="color: #005eff;"></i></li>
            <li><i class="fa-brands fa-linkedin-in" style="color: #005eff;"></i></li>
        </ul>
    </body>
</html>